
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
/* banner */
#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(./img/banner.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#logo-banner img {
    width: 140px;
    height: 39px;
    margin-top: 28px;
    margin-left: 151px;
}

#title-banner {
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 113px;
}

#title-banner h1 {
    font-size: 130px;
    font-weight: bold;
}

#title-banner p {
    font-size: 20px;
    margin-top: 35px;
    font-style: italic;
}

#btn-banner {
    margin-top: 60px;
}

#btn-banner a {
    position: relative;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 13px 0;
    color: #fff;
    border: 0.5px solid #fff;
    z-index: 1;
    transition: color 0.5s;
}

#btn-banner span {
    width: 0%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 1s;
}

#btn-banner a:hover span {
    width: 100%;
}

#btn-banner a:hover {
    color: black;
}

/* nav */

.navigation .btn-menu{
    width: 50px;
    margin: 10px 10px 0px 30px;
    height: 50px;
    border: 1px solid #009688;
    cursor: pointer;
    background-color: #009688;
    z-index: 3;
    border-radius: 7px;
    position: fixed;
    top: 20px;
    right: 30px;
}
.navigation .btn-menu img{
    width: 25px;
    height: 25px;
    margin: auto;
    padding: 12.5px;
}
#nav{
    width: 0px;        /* thay doi do dai*/
    height: 100vh;
    background-color: #009688;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.5s;
}

#nav .btn-close img{
    width: 25px;
    height: 25px;
    margin: auto;
    padding: 12.5px;
}
#nav ul{
    list-style: none;
    margin: 70px 10px;
    display: block;
}
#nav ul li{
    padding: 20px;
}
#nav ul li a{
    text-decoration: none;
    color: white;
}

/* features */

#feature{
    width: 100%;
    padding: 70px 0;
}
.content-text{
    text-align: center;
    padding-bottom: 70px;
}
.content-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.content-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019578,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.content-text h1{
    font-size: 50px;
}
.feature-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features-container-child{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
}
.features-img img{
    width: 70%;
    border-radius: 10px;
}
.features-container-child h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}
.features-child{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.feature-icon .bi{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
}
.feature-text p{
    text-align: initial;
    padding: 0 20px;
}
/*services*/
#service{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.service-child{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.service-child img{
    width: 100%;
    border-radius: 7px;
}
.bg-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}
.service-child:hover .bg-layer{
    opacity: 1;
}
.service-content{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.service-content p{
    font-size: 14px;
}
.service-child:hover .service-content{
    bottom: 40%;
    opacity: 1;
}

/*testimonial*/
#testimonial{
    width: 100%;
    padding: 70px 0;
}
.testimonial-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-child{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform .5s;
}
.testimonial-child p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .bi{
    margin-left: 10px;
    font-size: 20px;
    color: #009688;
}
.user-info small{
    color: #009688;
}
.testimonial-child:hover{
    transform: translateY(7px);
}

/*footer*/
#footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}
.footer-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-container h1{
    margin: 10px 0;
}
.footer-container p{
    line-height: 35px;
}
.footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
/* link */
.links{
    text-align: center;
}
.links .bi{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: .5s;
}
.links .bi:hover{
    color: #ff9900;
}
.links p{
    font-size: 12px;
    margin-top: 20px;
}
.footer-left .bi, .footer-right .bi{
    font-size: 20px;
    color: #009688;
    margin: 10px;
}

/* response */

@media only screen and (max-width: 576px){
    /* banner */
    #logo-banner img {
        margin-top: 28px;
        margin-left: 20px;
    }
    #title-banner h1 {
        font-size: 50px;
    }
    #title-banner p {
        font-size: 12px;
        margin-top: 35px;
        font-style: italic;
    }
    #btn-banner a {
        display: block;
        margin: 20px auto;
    }

    /* giữ nguyên thanh nav*/

    /* feature */
    #feature{
        width: 100%;
        padding: 70px 0;
    }
    .content-text{
        text-align: center;
        padding-bottom: 70px;
    }
    .content-text p{
        font-size: 20px;
        display: inline-block;
    }
    
    .content-text h1{
        font-size: 30px;
    }
    .feature-container{
        width: 90%;
        display: block;
    }
    .features-container-child{
        flex-basis: 100%;
    }
    .features-img img{
        width: 100%;
        border-radius: 10px;
    }
    .features-container-child h1{
        font-size: 20px;
        text-align: center;
    }
    .feature-icon .bi{
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    .feature-text p{
        font-size: 16px;
    }
    /* service */

    #service{
        width: 100%;
    }
    .service-container{
        width: 80%;
        display: block;
    }
    .service-child{
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    .service-child img{
        width: 100%;
        border-radius: 7px;
    }
    .service-content{
        width: 80%;
        position: absolute;
        bottom: 0;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);
        transition: 1s;
    }
    hr{
        background: #fff;
        height: 2px;
        border: 0;
        margin: 15px auto;
        width: 60%;
    }
    .service-content p{
        font-size: 12px;
    }
    /* testimonial */
    #testimonial{
        width: 100%;
        padding: 70px 0;
    }
    .testimonial-container{
        width: 90%;
        margin: auto;
        display: block;
    }
    .testimonial-child{
        flex-basis: 28%;
        padding: 10px;
        margin-bottom: 30px;
        border-radius: 5px;
        box-shadow: 0 10px 20px 3px #00968814;
        cursor: pointer;
        transition: transform .5s;
    }
    .testimonial-child p{
        font-size: 12px;
    }
    .user{
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
    .user-info .bi{
        font-size: 15px;
    }
    .testimonial-child:hover{
        transform: translateY(7px);
    }

    /* footer */
    #footer{
        padding: 100px 0 20px;
        background: #efefef;
        position: relative;
    }
    .content-text h1{
        font-size: 22px;
    }
    .footer-container{
        width: 90%;
        margin: 0 auto;
        display: block;
    }
    .footer-left,.footer-right{
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
    }
    .footer-right{
        text-align: left;
    }
    .footer-container h1{
        margin: 10px 0;
        font-size: 16px;
    }
    .footer-container p{
        font-size: 12px;
    }
    .footer-img{
        max-width: 150px;
        top: 28%;
    }
}